@media screen and (max-width: 1200px) {
    .container {
        width: 768px;
    }
    .promo__text {
        width: 180px;
    }
    .promo__item:nth-child(2n) .promo__text::before {
        left: -90px;
    }
    .promo__item:nth-child(2n-1) .promo__text::before {
        right: -90px;
    }
    .coupon__left {
        width: 400px;
        padding-left: 150px;
    }
    .coupon__img {
        left: 18px;
    }
    .coupon__text {
        width: auto;
    }
    .coupon__right {
        width: 100px;
    }
    .goods__item {
        width: 240px;
    }
    .goods__img {
        width: 240px;
        height: 123px;
    }
    .goods__item:nth-child(2n - 1) {
        margin-right: 17px;
    }
    .goods__btn {
        padding-top: 64px;
    }
    .btn {
        width: 230px;
        height: 60px;
        font-size: 28px;
    }
    .goods__item:nth-child(2n) + .goods__btn {
        width: 500px;
    }
    .sidebar {
        width: 240px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 550px;
    }
    .promo__bg {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .promo__item {
        display: block;
        width: auto;
        margin-bottom: 20px;
        height: auto;
        min-height: 85px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .promo__item:nth-child(2n) {
        text-align: left;
    }
    .promo__text {
        width: auto;
        padding-left: 80px;
    }
    .promo__item:nth-child(1) .promo__text,
    .promo__item:nth-child(5) .promo__text {
        margin-left: 0;
    }
    .promo__item:nth-child(2) .promo__text,
    .promo__item:nth-child(6) .promo__text {
        margin-right: 0;
        text-align: left;
    }
    .promo__item:nth-child(n+5) {
        margin-bottom: 20px;
    }
    .promo__text::before {
        width: 60px;
        height: 60px;
    }
    .promo__item:nth-child(2n) .promo__text::before {
        left: 10px;
    }
    .promo__item:nth-child(2n-1) .promo__text::before {
        left: 10px;
    }
    .content {
        display: block;
        margin-bottom: 50px;
    }
    .coupon__left {
        width: auto;
        padding-left: 110px;
    }
    .coupon__img {
        width: 80px;
        height: 80px
    }
    .goods__list {
        float: none;
    }
    .goods__item {
        width: 350px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .goods__item:nth-child(2n - 1) {
        margin-right: auto;
    }
    .goods__img {
        width: 350px;
        height: 200px;
    }
    .goods__btn {
        padding-top: 64px;
    }
    .goods__item:nth-child(2n) + .goods__btn,
    .goods__item + .goods__btn {
        width: auto;
        padding-top: 0;
        margin-right: auto;
        margin-left: auto;
    }
    .btn {
        width: 230px;
        height: 60px;
        font-size: 28px;
    }
    .sidebar {
        display: block;
        width: 100%;
        height: 300px;
    }
    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 576px) {
    .header {
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .container {
        width: auto;
        margin-right: 10px;
        margin-left: 10px;
    }
    .logo {
        width: 196px;
        height: 78px;
        margin-bottom: 50px;
    }
    .promo__text {
        font-size: 18px;
    }
    .main {
        display: block;
    }
    .coupon__left {
        display: block;
    }
    .coupon__right {
        display: block;
        width: auto;
        min-height: auto;
        height: 100px;
    }
    .coupon__text {
        display: block;
    }
    .coupon__inner {
        height: 75px;
    }
    .coupon__div {
        display: inline-block;
    }
    .coupon__likes {
        margin-bottom: 0;
        margin-right: 30px
    }
    .goods__item {
        width: 280px;
    }
    .goods__img {
        width: 280px;
        height: 150px;
    }
}